# Node modules
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
node_modules/
.env
.idea
.vscode
# Ignore Heroku files
/heroku
/.heroku
